/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector (*) to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: #ffffff;
    /*add some space from the left so that does not stick*/
    padding: 0 1rem;
    /* keep it blocked on the top*/
    position: fixed;
    /*high z-index so that it is always visible*/
    z-index: 99;
    /* full width as when fixed it goes back to the standard style*/
    width: 100%;
    /*add shadow (slightly over)*/
    box-shadow: 0 2px 2px #3a3a3a;
}

/*removes the standard style for the links*/
header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* take away the bullets points as not good in a menu*/
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
border-bottom: 1px solid #3a3a3a;
}


/* Main */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* footer */
footer {
    background-color: orange;

}